body
{
    background-color:rgb(225, 225, 225);
    text-decoration-color: black;
    background-image: url("image/phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}
h1
{
    text-decoration: bold;
}
a{
    color: black;
    text-decoration: none;
}
a.menu{
    color: #101010;
    text-shadow:-1px -1px #909090;
}
#phone
{
    background-color:rgb(255,255,255);
    position: absolute;
    width: 61%;
    right: 19%;
    left: 20%;
    height: 81.5%;
    top:10.4%;
    border: 3px solid rgb(6, 4, 100);
    padding: 15px;
}
#home_left
{
    box-sizing: border-box;
    position: absolute;
    width: 50.5%;
    left: -3px;
    height: 55%;
    top: 10%;
    bottom: 10%;
    border: 3px solid rgb(6, 4, 100);
    border-top: 3px solid rgb(6, 4, 100);
    border-bottom: 3px solid rgb(6, 4, 100);
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
#radio_main
{
    box-sizing: border-box;
    position: absolute;
    right: -3px;
    height: 55%;
    top: 10%;
    bottom: 10%;
    text-align: center;
    width:100%;
}
#home_right
{
    box-sizing: border-box;
    position: absolute;
    width: 50.5%;
    right: -3px;
    height: 55%;
    top: 10%;
    bottom: 10%;
    border-top: 3px solid rgb(6, 4, 100);
    border-bottom: 3px solid rgb(6, 4, 100);
    border-left: 3px solid rgb(6, 4, 100);
    text-align: center;
}
#menu
{
    background-color:rgb(127,127,127);
    box-sizing: border-box;
    position: absolute;
    width:100%;
    left:0%;
    top: 0%;
    bottom: 90%;
}
#home_bottom{
    box-sizing: border-box;
    position: absolute;
    height:35%;
    bottom: 0%;
    width:100%;
    left:0%;
    padding-top: 2%;
    padding-left:2%;
}
#customizeBar{
    box-sizing: border-box;
    position: absolute;
    left:25%;
    bottom: -4.3%;
    width:100%;
    z-index: 3;
    margin:auto;
}
#menu_button
{
    border: 3px solid rgb(6, 4, 100);
    box-sizing: border-box;
    position: absolute;
    height:85%;
    width: 45%;
    top: 10%;
    background-color:rgb(110, 110, 110);
    opacity: 1;
    z-index:2;
}
#homeMenu
{
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    padding:1%;
    position: absolute;
    /* height:20%; */
    height: 100%;
    width: 50%;
    top: 0%;
    background-color:rgb(90, 90, 90);
    opacity: 1;
    z-index:3;
    line-height: 5rem;
    vertical-align: center;
    text-align: center;
    font-size: 3rem;
    font-family: 'Arial Black';
    right: 0%;
}
#Nav
{
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    padding:1%;
    position: absolute;
    /* height:20%; */
    height: 100%;
    width: 42%;
    right:50%;
    top: 0%;
    background-color:rgb(90, 90, 90);
    opacity: 1;
    z-index:3;
    line-height: 5rem;
    vertical-align: center;
    text-align: center;
    font-size: 3rem;
    font-family: 'Arial Black';
}
#menu_box_1
{
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    padding:1%;
    position: absolute;
    /* height:20%; */
    height: 14.3%;
    width: 50%;
    top: 0%;
    background-color:rgb(90, 90, 90);
    opacity: 1;
    z-index:3;
    line-height: 5rem;
    vertical-align: center;
    text-align: center;
    font-size: 3rem;
    font-family: 'Arial Black';
}
#menu_box_2
{
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    padding:1%;
    position: absolute;
    height:14.3%;
    width: 50%;
    left:50%;
    top: 0%;
    background-color:rgb(90, 90, 90);
    opacity: 1;
    z-index:3;
    line-height: 5rem;
    vertical-align: center;
    text-align: center;
    font-size: 2rem;
    font-family: 'Arial Black';
}
#menu_box_3
{
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    padding:1%;
    position: absolute;
    height:14.3%;
    width: 50%;
    top: 14.3%;
    background-color:rgb(90, 90, 90);
    opacity: 1;
    z-index:3;
    line-height: 5rem;
    vertical-align: center;
    text-align: center;
    font-size: 2rem;
    font-family: "Arial Black";
}
#menu_box_4
{
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    position: absolute;
    height:14.3%;
    width: 50%;
    left:50%;
    top: 14.3%;
    background-color:rgb(90, 90, 90);
    opacity: 1;
    z-index:3;
    line-height: 3rem;
    vertical-align: center;
    text-align: center;
    font-size: 2rem;
    font-family: "Arial Black";
}
#menu_box_5
{
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    padding:1%;
    position: absolute;
    height:14.3%;
    width: 50%;
    top: 28.6%;
    background-color:rgb(90, 90, 90);
    opacity: 1;
    z-index:3;
    line-height: 5rem;
    vertical-align: center;
    text-align: center;
    font-size: 3rem;
    font-family: "Arial Black";
}
#menu_box_6
{
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    padding:1%;
    position: absolute;
    height:14.3%;
    width: 50%;
    left:50%;
    top: 28.6%;
    background-color:rgb(90, 90, 90);
    opacity: 1;
    z-index:3;
    line-height: 5rem;
    vertical-align: center;
    text-align: center;
    font-size: 4rem;
    font-family: "Arial Black";
}
#menu_box_7
{
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    padding:1%;
    margin-bottom: 1%;
    position: absolute;
    height:14.3%;
    width: 50%;
    top: 42.9%;
    background-color:rgb(90, 90, 90);
    opacity: 1;
    z-index:3;
    line-height: 5rem;
    vertical-align: center;
    text-align: center;
    font-size: 3rem;
    font-family: "Arial Black";
}
#menu_box_8
{
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    padding:1%;
    position: absolute;
    height:14.3%;
    width: 50%;
    left:50%;
    top: 42.9%;
    background-color:rgb(90, 90, 90);
    opacity: 1;
    z-index:3;
    line-height: 5rem;
    vertical-align: center;
    text-align: center;
    font-size: 2rem;
    font-family: "Arial Black";
}

#menu_box_9
{
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    padding:1%;
    position: absolute;
    height:14.3%;
    width: 50%;
    top: 57.2%;
    background-color:rgb(90, 90, 90);
    opacity: 1;
    z-index:3;
    line-height: 5rem;
    vertical-align: center;
    text-align: center;
    font-size: 2rem;
    font-family: "Arial Black";
}
#menu_box_10
{
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    padding:1%;
    position: absolute;
    height:14.3%;
    width: 50%;
    left:50%;
    top: 57.2%;
    background-color:rgb(90, 90, 90);
    opacity: 1;
    z-index:3;
    line-height: 5rem;
    vertical-align: center;
    text-align: center;
    font-size: 2rem;
    font-family: "Arial Black";
}
#menu_box_11
{
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    padding:1%;
    position: absolute;
    height:14.3%;
    width: 50%;
    top: 71.5%;
    background-color:rgb(90, 90, 90);
    opacity: 1;
    z-index:3;
    line-height: 5rem;
    vertical-align: center;
    text-align: center;
    font-size: 3rem;
    font-family: "Arial Black";
}
#menu_box_12
{
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    position: absolute;
    height:14.3%;
    width: 50%;
    left:50%;
    top: 71.5%;
    background-color:rgb(90, 90, 90);
    opacity: 1;
    z-index:3;
    line-height: 3rem;
    vertical-align: center;
    text-align: center;
    font-size: 2rem;
    font-family: "Arial Black";
}
#menu_box_13
{
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    padding:1%;
    position: absolute;
    height:14.3%;
    width: 50%;
    top: 85.8%;
    background-color:rgb(90, 90, 90);
    opacity: 1;
    z-index:3;
    line-height: 5rem;
    vertical-align: center;
    text-align: center;
    font-size: 2rem;
    font-family: "Arial Black";
}
#menu_box_14
{
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    padding:1%;
    position: absolute;
    height:14.3%;
    width: 50%;
    left: 50%;
    top: 85.8%;
    background-color:rgb(90, 90, 90);
    opacity: 1;
    z-index:3;
    line-height: 5rem;
    vertical-align: center;
    text-align: center;
    font-size: 3rem;
    font-family: "Arial Black";
}
#newDriver_topLeft
{
    border-right: 1px solid rgb(0, 0, 0);
    position: absolute;
    width:50%;
    height:45%;
    top:10%;
    left:0%;
    line-height: 15rem;
    font-size: 3rem;
    margin: auto;
    text-align: center;
    font-family: "Arial Black";
    padding-top:3%;
}
#newDriver_topRight
{
    position: absolute;
    width:50%;
    height:45%;
    top:10%;
    right:0%;
    line-height: 5rem;
    font-size: 3rem;
    margin: auto;
    text-align: center;
    font-family: "Arial Black";
}
#newDriver_botLeft
{
    border-right: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
    position: absolute;
    width:50%;
    height:40.6%;
    left:0%;
    top: 55%;
    font-size: 3rem;
    font-family: "Arial Black";
    text-align: center;
    padding-top: 3%;
}
#newDriver_botRight
{
    border-top: 1px solid rgb(0, 0, 0);
    position: absolute;
    width:50%;
    height:35%;
    right:0%;
    top: 55%;
    font-size: 3rem;
    margin: auto;
    text-align: center;
    font-family: "Arial Black";
    padding-top: 9%;
}
ol.newDriver{
    font-family: "Arial Black";
    font-size: 200%;
    line-height: 150%;
}
p.newDriver{
    font-size:300%;
    font-family: "Arial Black";
}